/* Schrift CSS */
div.box p {
  font-family: "Century Gothic", CenturyGothic;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: black;
}

.box {
  border: 1px solid black;
  border-radius: 10px; /*10*/
  margin: 5% 10% 5% 10%;
  box-shadow: 6px 6px 6px;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

/* Ende Schrift CSS */

.knopf {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
  outline: 0;
  padding: 10px 20px 10px 20px;
  font-family: "Century Gothic", CenturyGothic;
  color: white;
    /* ----- Button color (Standard schwarze Farbe: #000;) ----- */
    background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:         linear-gradient(90deg, #485563 10%, #29323c 90%);
  text-align: center;
  cursor: pointer;
}
