#homeLink {
	text-decoration: none;
	color: #fff;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

h1{
	text-align: center;
	color: rgb(35, 98, 139);
	font-size: 3rem;
	font-family: Arial;
}

h2{
	text-align: center;
	color: rgb(35, 98, 139);
	font-size: 2rem;
	font-family: Arial;
}

p {
	font-family: Arial;
  font-size: 16px;
  padding-left: 10px;
	padding-right: 10px;
  text-rendering: optimizeLegibility;
  color: black;
}

.image{
	width:100%;
	opacity: 1;
	padding-left: none !important;
	padding-right: none !important;
}

.column {
	float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 750px;
}

.containerChill:hover #chiller {
  opacity: 0.3;
}

.containerStandard:hover #standard {
  opacity: 0.3;
}

.containerSexy:hover #sexy {
  opacity: 0.3;
}
