div {
  margin-top: 5%;
  text-align: center;
}

/* Schrift CSS */
p {
  font-family: "Century Gothic", CenturyGothic;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  color: black;
    letter-spacing: .1em;
    text-shadow:
      2px 2px 1px #A4A4A4;
}

.container {
  border: 1px solid black;
  border-radius: 10px; /*10*/
  margin: 20px;
  box-shadow: 6px 6px 6px;
  background-image: linear-gradient(45deg, rgba(255,69,0,0.43), rgba(255,165,0,0.5));
}

/* Ende Schrift CSS */

.button {
  margin-top: 3%;
  border-radius: 5%;
  border: none;
  outline: 0;
  padding: 10px 20px 10px 20px;
  font-family: "Century Gothic", CenturyGothic;
  color: white;
    /* ----- Button color (Standard schwarze Farbe: #000;) ----- */
    background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:         linear-gradient(90deg, #485563 10%, #29323c 90%);
  text-align: center;
  cursor: pointer;
}
