<style>
body{
  background-image:
    linear-gradient(hsla(215,30%,70%,0.9) 0%, hsla(215,30%,70%,0) 50%, hsla(215,30%,70%,0.9) 100%),
    linear-gradient(to right, hsla(215,30%,80%,0.8) 30%, white 50%, hsla(215,30%,80%,0.8) 70%);
}
  main{
      text-align: center;
    }
  #heading {
      font-family: "Century Gothic", CenturyGothic;
      font-size: 30px;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;

      color: black;
        letter-spacing: .1em;
        text-shadow:
          2px 2px 1px #A4A4A4;
    }

  h2, h3, p, a, li {
    font-family: arial;
  }

  h2{
      margin: 30px;
      font-size: 28px;
    }
  h3{
      margin: 30px;
      text-decoration: underline;
      font-size: 24px;
    }
  p{
      padding: 1em;
      text-align: left;
      font-size: 18px;
    }

  li{
      margin: 20px 0px 0px 20px;
      text-align: left;
      font-size: 18px;
    }
  a:hover{
      color: blue;
      text-transform: uppercase;
    }
  .anim{
      animation-name: leucht;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  @keyframes leucht {
    5%{
        color:  green;
      }
    }
  .container{
      border: 1px solid #666;
      border-radius: 10px; /*10*/
      margin: 10px;
      box-shadow: 2px 2px 2px #888;
    }
  .container1{
      border: 1px solid black;
      border-radius: 10px; /*10*/
      margin: 20px;
      box-shadow: 6px 6px 6px;
      background-color: rgba(76,175,80,0.8);
    }
  .container2{
      display: grid;
      border: 1px solid black;
      border-radius: 10px; /*10*/
      margin: 20px;
      box-shadow: 6px 6px 6px;
      background-image: linear-gradient(45deg, rgba(255,69,0,0.43), rgba(255,165,0,0.5));
      grid-template-areas: "V V"
                           "Vorbereitung  Wuerfe"
                           "Treffen Treffen"
                           "Gewinner Redemption";
    }
  #g{
      grid-area: V;
    }
  #g1{
      grid-area: Vorbereitung;
    }
  #g2{
      grid-area: Wuerfe;
    }
  #g3{
      grid-area: Treffen;
    }
  #g4{
      grid-area: Gewinner;
    }
  #g5{
      grid-area: Redemption;
    }
  .internalink{
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  @media(max-width: 1000px){
      .container2{
        grid-template-areas: "V"
                             "Vorbereitung"
                             "Wuerfe"
                             "Treffen"
                             "Gewinner"
                             "Redemption";
      }
    }
  @media(min-width: 1200px){
    .container2{
      grid-template-areas: "V V"
                           "Vorbereitung  Wuerfe"
                           "Treffen Treffen"
                           "Gewinner Redemption";
      }
    }
  @media(min-width: 2000px){
    .container2{
      grid-template-areas: "V V"
                           "Vorbereitung  Treffen"
                           "Wuerfe Treffen"
                           ". Treffen"
                           "Gewinner Treffen"
                           "Redemption Treffen";
      }
    }
  .fear{
    font-style: italic;
    font-weight: bold;
  }
  .un{
    text-decoration: underline;
  }
/*****************sidebar*******************************************/
/*
  #sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: #f1f1f1;
  }

  #sidebar li a {
    display: block;
    color: black;
    font-size: 380%;
    padding: 30px;
    text-align: center;
    text-decoration: none;
  }
  /* Link farbe
  #sidebar li a:hover {
    background-color: #555;
    color: white;
  }
  /* der Menü-Button
  .toggle-btn{
    cursor: pointer;
    position: absolute;
    left: 105%;
    top: 15px;
  }
  /*die bestandteile des Menü-Buttons (Gitter)
  .toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;

  }
  /* zeigt sidebar im aktiven Zustand (wenn menübutton geklickt)
  sidebar.active{
    left: 0;
  }
/*****************sidebar*ende**************************************/
</style>
