h2,p {
  font-family: "Century Gothic", CenturyGothic;
}

/* ------- Vorstellung und Danksagung CSS ------- */
.team {
  font-size: 16px;
  text-align: center;
  margin-left: 16%;
  margin-right: 16%;
  /* ...oder 280px, dann aber nicht mehr tauglich als responsive code */
  margin-bottom: 80px;
}
/* ----- Ende Vorstellung und Danksagung CSS ----- */


/* Team CSS */
html {
  box-sizing: border-box;
}

/* HILFEEE!! Wie mach ich die container alle gleich groß?
   Also an die Größe des größten Containers angespasst?
   Link dazu: https://www.w3schools.com/howto/howto_css_equal_height.asp
   Danke, Moritz. */

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  overflow: hidden;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 620px;
  position: relative;
}

.container {
  padding: 0 16px;
}

.contact {
  position: absolute;
  bottom: 0px;
  width: 90%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  margin-bottom: 0px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
    /* ----- Button color (Standard schwarze Farbe: #000;) ----- */
    background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%);
    background:         linear-gradient(90deg, #485563 10%, #29323c 90%);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


/* Ende Team */

}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
  }
  .card {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
